bin/
obj/
*.exe
*.dll
*.pdb
*.log

.vscode/
.vs/
*.suo
*.user
*.sln.cache
*.csproj.user
*.sqlite

*.nupkg
packages/
project.lock.json
project.assets.json

*.tmp
*.cache
*.bak
*.swp
*.swo
*.DS_Store

publish/
app.publish/
